{{/* Display copyright license. */}}
{{ partial "site_footer_license" . }} {{ partial "site_footer_license" . }}


<p class="powered-by">
    <!-- <p class="powered-by">
     {{ $is_sponsor := site.Params.i_am_a_sponsor | default false }}	       {{ $is_sponsor := site.Params.i_am_a_sponsor | default false }}
     {{ $hide_published_with_footer := site.Params.power_ups.hide_published_with | default true }}	       {{ $hide_published_with_footer := site.Params.power_ups.hide_published_with | default true }}
     {{ if not (and $is_sponsor $hide_published_with_footer) }}	       {{ if not (and $is_sponsor $hide_published_with_footer) }}
@ -44,5 +44,5 @@
     {{ $i18n_published_with = replace $i18n_published_with "{/repo_link}" "</a>" | safeHTML }}	       {{ $i18n_published_with = replace $i18n_published_with "{/repo_link}" "</a>" | safeHTML }}
     {{ $i18n_published_with | markdownify | emojify }}	       {{ $i18n_published_with | markdownify | emojify }}
     {{ end }}	       {{ end }}
</p>	       </p> -->
    </footer>
    </footer>